@import url("./styles/normalize.css");
@import url("./styles/global.css");
@import url("./styles/colors.css");
@import url("./styles/typography.css");

/* Header */

.header {
  display: flex;
  width: 100%;
  background: transparent;
  padding: 31px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}

.header__logo:hover {
  text-shadow: 1px 1px 4px rgba(253, 220, 196, 1);
}

.header__title {
  color: var(--primary);
  margin-bottom: 11px;
}

.header__subtitle {
  color: var(--light-xl);
  padding-left: 4px;
}

.header__list {
  display: flex;
  gap: 35px;
}

.header__list-item {
  color: var(--dark-s);
  padding-top: 16px;
  transition: 1s;
}

.header__list-item:hover {
  color: var(--light-s);
}

.header__item-active {
  color: var(--light-s);
}

.header__mobile-menu {
  display: block;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: none;
  position: relative;
  transition: 1s;
  margin-top: 13px;
  display: none;
}

.header__mobile-menu span {
  width: 30px;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  left: 0px;
}

.header__mobile-menu span:nth-child(1) {
  transform: translateY(-10px);
}

.header__mobile-menu span:nth-child(3) {
  transform: translateY(10px);
}

@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
  .header__mobile-menu {
    display: block;
  }
}

/* Not-only */

.not-only {
  display: flex;
  width: 100%;
  background: transparent;
}

.not-only__inner {
  display: block;
  background-image: url("./assets/images/start-screen-puppy.png");
  background-repeat: no-repeat;
  background-position: 93% 100%;
  padding-top: 224px;
  padding-bottom: 255px;
  transition: all 1s linear;
}

.not-only__title {
  max-width: 310px;
  width: 100%;
  color: var(--light-xl);
  padding-bottom: 41px;
  transition: all 2s ease-out;
}

.not-only__text {
  max-width: 460px;
  width: 100%;
  color: var(--dark-s);
  padding-bottom: 56px;
  transition: all 2s ease-out;
}
.not-only__btn {
  transition: all 2s ease-out;
}

@media screen and (max-width: 1200px) {
  .not-only__inner {
    background-size: 569px auto;
    padding-top: 30px;
    padding-bottom: 550px;
  }
  .not-only__title {
    background-size: 569px auto;
  }
}

@media screen and (max-width: 1150px) {
  .not-only__inner {
    padding-bottom: 610px;
  }
}

@media screen and (max-width: 800px) {
  .not-only__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: 85% 100%;
    padding-bottom: 694px;
  }
  .not-only__btn {
    display: block;
    max-width: 208px;
    margin: 0 auto;
  }
  .not-only__text {
    padding-bottom: 39px;
  }
}

/* About */

.about {
  width: 100%;
  background: var(--light-xl);
}

.about__inner {
  padding-top: 80px;
  padding-bottom: 90px;
}

.about__content {
  padding-left: 597px;
  background-image: url("./assets/images/about-pets.png");
  background-repeat: no-repeat;
  background-position: 19%;
  margin-top: -10px;
}

.about__title {
  max-width: 370px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--dark-l);
}

.about__text {
  max-width: 430px;
  padding-bottom: 25px;
  color: var(--dark-l);
}

@media screen and (max-width: 1150px) {
  .about__content {
    padding-left: 530px;
    background-position: 15%;
  }
}

@media screen and (max-width: 1070px) {
  .about__content {
    padding-left: 500px;
  }
}

@media screen and (max-width: 975px) {
  .about__inner {
    padding-top: 58px;
  }
  .about__content {
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 473px 0;
    background-position: 49% 98%;
  }
}

/* Pets */

.pets {
  width: 100%;
  background-color: var(--light-l);
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.pets__title {
  max-width: 400px;
  text-align: center;
  color: var(--dark-l);
  margin-bottom: 60px;
}

/* Pets-slider */

.pets__slider {
  margin-bottom: 57px;
}

.pets__slider-list {
  display: flex;
  justify-content: center;
  gap: 90px;
  width: 100%;
}

.pets__pagination {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  position: absolute;
  top: 49%;
}

.pets__slider-btn {
  width: 52px;
  height: 52px;
  color: var(--dark-3xl);
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: 50%;
  transition: 1s;
}

.pets__slider-btn:hover {
  background-color: var(--primary-light);
  border: 2px solid var(--primary-light);
  box-shadow: 0px 1px 10px rgba(178, 178, 178, 1);
}

@media screen and (max-width: 1250px) {
  .pets__slider-list {
    gap: 60px;
  }
  .pets__pagination {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1140px) {
  .pets__slider-list {
    gap: 30px;
  }
  .pets__pagination {
    max-width: 1050px;
  }
}

@media screen and (max-width: 1120px) {
  .item3 {
    display: none;
  }
  .pets__slider-list {
    gap: 40px;
  }
  .pets__pagination {
    max-width: 900px;
  }
}

@media screen and (max-width: 1000px) {
  .pets__pagination {
    max-width: 707px;
  }
}
/* Help */

.help {
  background-color: var(--light-xl);
  width: 100%;
}

.help__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
}

.help__title {
  max-width: 310px;
  color: var(--dark-l);
  text-align: center;
  padding-bottom: 58px;
}

.help__list {
  max-width: 1030px;
  display: flex;
  justify-content: center;
  gap: 52px 120px;
  flex-wrap: wrap;
}

.help__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__item-img {
  padding-bottom: 32px;
}

.help__item-title {
  color: var(--dark-l);
}

@media screen and (max-width: 1160px) {
  .help__inner {
    padding-left: 65px;
    padding-right: 65px;
  }
  .help__list {
    gap: 52px 80px;
  }
}

@media screen and (max-width: 940px) {
  .help__list {
    gap: 52px 60px;
  }
  .help__list-item {
    max-width: 170px;
    width: 100%;
  }
}

/* Donation */

.donation {
  width: 100%;
  background-color: var(--light-l);
  color: var(--dark-l);
}

.donation__inner {
  padding-left: 718px;
  background-image: url("./assets/images/donation-dog.png");
  background-repeat: no-repeat;
  background-position: 24% 45%;
}

.donation__content {
  max-width: 380px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.donation__title {
  max-width: 300px;
  padding-bottom: 20px;
}

.donation__bank {
  padding-bottom: 20px;
}

.donation__card {
  display: inline-block;
  padding: 10px 15px 10px 60px;
  border-radius: 9px;
  background: var(--primary);
  position: relative;
}

.donation__card::before {
  content: url("./assets/icons/credit-card.svg");
  display: block;
  position: absolute;
  left: 14px;
}

.donation__text {
  padding-top: 20px;
  padding-bottom: 50px;
  color: var(--dark-m);
}

@media screen and (max-width: 1140px) {
  .donation__inner {
    display: block;
    width: 100%;
    padding: 0 0 322px 0;
    background-position: 49% 81%;
  }
  .donation__content {
    margin: 0 auto;
  }
}

/* Footer */

.footer {
  background: transparent;
  width: 100%;
}

.footer__content {
  display: flex;
  gap: 160px;
  padding-top: 57px;
  padding-bottom: 20px;
  color: var(--primary);
}

.footer__inner {
  padding-bottom: 45px;
  background-image: url("./assets/images/footer-puppy.png");
  background-repeat: no-repeat;
  background-position: 96% 100%;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  max-width: 281px;
}

.footer__title-contacts {
  color: var(--light-xl);
  padding-bottom: 43px;
}

.footer__email {
  padding-bottom: 49px;
  padding-left: 59px;
  position: relative;
  transition: 1s;
}

.footer__email:before {
  content: url("./assets/icons/icon-email.svg");
  position: absolute;
  left: 0;
  top: -5px;
}

.footer__email:hover {
  text-shadow: 1px 1px 12px rgba(253, 220, 196, 0.6);
}

.footer__phone {
  padding-left: 60px;
  position: relative;
  transition: 1s;
}

.footer__phone:before {
  content: url("./assets/icons/icon-phone.svg");
  position: absolute;
  left: 0;
  top: -5px;
}

.footer__phone:hover {
  text-shadow: 1px 1px 12px rgba(253, 220, 196, 0.6);
}

.footer__location {
  display: flex;
  flex-direction: column;
  max-width: 302px;
}

.footer__title-location {
  color: var(--light-xl);
  padding-bottom: 31px;
}

.footer__boston {
  padding-bottom: 37px;
  padding-left: 39px;
  position: relative;
  transition: 1s;
}

.footer__boston:before {
  content: url("./assets/icons/icon-marker.svg");
  position: absolute;
  left: -3px;
  top: 6px;
}

.footer__boston:hover {
  text-shadow: 1px 1px 12px rgba(253, 220, 196, 0.6);
}

.footer__london {
  padding-left: 39px;
  position: relative;
  transition: 1s;
}

.footer__london:before {
  content: url("./assets/icons/icon-marker.svg");
  position: absolute;
  left: -2px;
  top: -5px;
}

.footer__london:hover {
  text-shadow: 1px 1px 12px rgba(253, 220, 196, 0.6);
}

@media screen and (max-width: 1140px) {
  .footer__inner {
    padding-bottom: 336px;
    background-position: 50% 108%;
  }
  .footer__content {
    justify-content: center;
  }
}

@media screen and (max-width: 870px) {
  .footer__content {
    gap: 60px;
    padding-top: 30px;
  }
}
