@import url("./styles/normalize.css");
@import url("./styles/global.css");
@import url("./styles/colors.css");
@import url("./styles/typography.css");

/* Header */

.header {
  display: flex;
  width: 100%;
  background: transparent;
  padding: 31px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}

.header__logo:hover {
  text-shadow: 1px 1px 18px rgba(253, 220, 196, 1);
}

.header__title {
  color: var(--primary);
  margin-bottom: 11px;
}

.header__subtitle {
  color: var(--light-xl);
  padding-left: 4px;
}

.header__list {
  display: flex;
  gap: 35px;
}

.header__list-item {
  color: var(--dark-s);
  padding-top: 16px;
  transition: 1s;
}

.header__list-item:hover {
  color: var(--light-s);
}

.header__item-active {
  color: var(--light-s);
}

/* Not-only */

.not-only {
  display: flex;
  width: 100%;
  background: transparent;
}

.not-only__inner {
  background-image: url("./assets/images/start-screen-puppy.png");
  background-repeat: no-repeat;
  background-position: 93% 100%;
  padding-top: 224px;
  padding-bottom: 255px;
}

.not-only__title {
  max-width: 310px;
  width: 100%;
  color: var(--light-xl);
  padding-bottom: 41px;
}

.not-only__text {
  max-width: 460px;
  width: 100%;
  color: var(--dark-s);
  padding-bottom: 56px;
}

/* About */

.about {
  width: 100%;
  background: var(--light-xl);
}

.about__inner {
  padding-top: 80px;
  padding-bottom: 90px;
}

.about__content {
  padding-left: 597px;
  background-image: url("./assets/images/about-pets.png");
  background-repeat: no-repeat;
  background-position: 19%;
  margin-top: -10px;
}

.about__title {
  max-width: 370px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--dark-l);
}

.about__text {
  max-width: 430px;
  padding-bottom: 25px;
  color: var(--dark-l);
}

/* Pets */

.pets {
  width: 100%;
  background-color: var(--light-l);
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  max-width: 1200px;
}

.pets__title {
  max-width: 400px;
  text-align: center;
  color: var(--dark-l);
  margin-bottom: 60px;
}

/* Pets- slider */

.pets__slider {
  margin-bottom: 57px;
}

.pets__slider-list {
  display: flex;
  justify-content: center;
  gap: 90px;
  width: 100%;
}

.pets__pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 49%;
}

.pets__slider-btn {
  width: 52px;
  height: 52px;
  color: var(--dark-3xl);
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: 50%;
  transition: 1s;
}

.pets__slider-btn:hover {
  background-color: var(--primary-light);
  border: 2px solid var(--primary-light);
  box-shadow: 0px 1px 10px rgba(178, 178, 178, 1);
}

/* Help */

.help {
  background-color: var(--light-xl);
  width: 100%;
}

.help__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
}

.help__title {
  max-width: 310px;
  color: var(--dark-l);
  text-align: center;
  padding-bottom: 58px;
}

.help__list {
  max-width: 1030px;
  display: flex;
  justify-content: center;
  gap: 52px 120px;
  flex-wrap: wrap;
}

.help__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__item-img {
  padding-bottom: 32px;
}

.help__item-title {
  color: var(--dark-l);
}

/* Donation */

.donation {
  width: 100%;
  background-color: var(--light-l);
  color: var(--dark-l);
}

.donation__inner {
  padding-left: 718px;
  background-image: url("./assets/images/donation-dog.png");
  background-repeat: no-repeat;
  background-position: 24% 45%;
}

.donation__content {
  max-width: 380px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.donation__title {
  max-width: 300px;
  padding-bottom: 20px;
}

.donation__bank {
  padding-bottom: 20px;
}

.donation__card {
  display: inline-block;
  padding: 10px 15px 10px 60px;
  border-radius: 9px;
  background: var(--primary);
  position: relative;
}

.donation__card::before {
  content: url("./assets/icons/credit-card.svg");
  display: block;
  position: absolute;
  left: 14px;
}

.donation__text {
  padding-top: 20px;
  padding-bottom: 50px;
  color: var(--dark-m);
}

/* Footer */

.footer {
  background: transparent;
  width: 100%;
}

.footer__content {
  display: flex;
  gap: 160px;
  padding-top: 57px;
  padding-bottom: 20px;
  color: var(--primary);
}

.footer__inner {
  padding-bottom: 45px;
  background-image: url("./assets/images/footer-puppy.png");
  background-repeat: no-repeat;
  background-position: 96% 100%;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  max-width: 281px;
}

.footer__title-contacts {
  color: var(--light-xl);
  padding-bottom: 43px;
}

.footer__email {
  padding-bottom: 49px;
  padding-left: 59px;
  position: relative;
  transition: 1s;
}

.footer__email:before {
  content: url("./assets/icons/icon-email.svg");
  position: absolute;
  left: 0;
  top: -5px;
}

.footer__email:hover {
  text-shadow: 1px 1px 12px rgba(253, 220, 196, 0.6);
}

.footer__phone {
  padding-left: 60px;
  position: relative;
  transition: 1s;
}

.footer__phone:before {
  content: url("./assets/icons/icon-phone.svg");
  position: absolute;
  left: 0;
  top: -5px;
}

.footer__phone:hover {
  text-shadow: 1px 1px 12px rgba(253, 220, 196, 0.6);
}

.footer__location {
  display: flex;
  flex-direction: column;
  max-width: 302px;
}

.footer__title-location {
  color: var(--light-xl);
  padding-bottom: 31px;
}

.footer__boston {
  padding-bottom: 37px;
  padding-left: 39px;
  position: relative;
  transition: 1s;
}

.footer__boston:before {
  content: url("./assets/icons/icon-marker.svg");
  position: absolute;
  left: -3px;
  top: 6px;
}

.footer__boston:hover {
  text-shadow: 1px 1px 12px rgba(253, 220, 196, 0.6);
}

.footer__london {
  padding-left: 39px;
  position: relative;
  transition: 1s;
}

.footer__london:before {
  content: url("./assets/icons/icon-marker.svg");
  position: absolute;
  left: -2px;
  top: -5px;
}

.footer__london:hover {
  text-shadow: 1px 1px 12px rgba(253, 220, 196, 0.6);
}
