@import url("../styles/normalize.css");
@import url("../styles/typography.css");
@import url("../styles/global.css");
@import url("../styles/colors.css");

/* Header */

.header {
  display: flex;
  width: 100%;
  background: var(--light-xl);
  padding: 31px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}

@media (hover: hover) {
  .header__logo:hover {
    text-shadow: 1px 1px 4px rgba(68, 68, 68, 1);
  }
}

@media (hover: none) {
  .header__logo:active {
    text-shadow: 1px 1px 4px rgba(68, 68, 68, 1);
  }
}

.header__title {
  color: var(--dark-l);
  margin-bottom: 11px;
}

.header__subtitle {
  color: var(--dark-3xl);
  padding-left: 4px;
}

.header__list {
  display: flex;
  gap: 35px;
}

.header__list-item {
  color: var(--dark-l);
  padding-top: 16px;
  transition: 1s;
}

@media (hover: hover) {
  .header__list-item:hover {
    color: var(--dark-3xl);
  }
}

@media (hover: none) {
  .header__list-item:active {
    color: var(--dark-3xl);
  }
}

.header__item-active {
  color: var(--dark-3xl);
}

.header__mobile-menu {
  display: block;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: none;
  position: relative;
  transition: 1s;
  margin-top: 13px;
  display: none;
}

.header__mobile-menu span {
  width: 30px;
  height: 2px;
  background-color: var(--black);
  position: absolute;
  left: 0px;
}

.header__mobile-menu span:nth-child(1) {
  transform: translateY(-10px);
}

.header__mobile-menu span:nth-child(3) {
  transform: translateY(10px);
}

@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
  .header__mobile-menu {
    display: block;
  }
}
/* Pets */

.pets {
  background-color: var(--light-l);
  width: 100%;
}

.pets__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;
}

.pets__title {
  padding-bottom: 59px;
  text-align: center;
  color: var(--dark-l);
}

.pets__slider-list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px 40px;
}

.pets__pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 59px;
  padding-bottom: 49px;
}

.pets__slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  color: var(--dark-3xl);
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: 50%;
  transition: 1s;
}

@media (hover: hover) {
  .btn-next:hover,
  .btn-dbl-next:hover {
    background-color: var(--primary-light);
    border: 2px solid var(--primary-light);
    box-shadow: 0px 1px 10px rgba(178, 178, 178, 1);
  }
}

@media (hover: none) {
  .btn-next:active,
  .btn-dbl-next:active {
    background-color: var(--primary-light);
    border: 2px solid var(--primary-light);
    box-shadow: 0px 1px 10px rgba(178, 178, 178, 1);
  }
}

.btn-dbl-prev,
.btn-prev {
  color: var(--dark-s);
  border-color: var(--dark-s);
}

.btn-dbl-prev:hover,
.btn-prev:hover {
  cursor: default;
}

.pets__current-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background: var(--primary);
  border-radius: 50%;
  transition: 1s;
}

@media screen and (max-width: 949px) {
  .item7,
  .item8 {
    display: none;
  }
  .pets__title {
    padding-bottom: 30px;
  }
  .pets__pagination {
    padding-top: 36px;
    padding-bottom: 28px;
  }
}
