body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0px;
  border: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: url("./assets/images/pattern.png"),
    radial-gradient(
      100% 215.42% at 0% 0%,
      var(--start-gradient) 0%,
      var(--finish-gradient) 100%
    ),
    var(--gradient);
  height: 100%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.header__item-active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--primary);
}

.header__item-active:hover {
  transform: none;
}

.header__item-active a {
  cursor: default;
}

.btn-primary {
  padding: 15px 45px;
  border-radius: 100px;
  background-color: var(--primary);
  color: var(--dark-3xl);
  transition: 1s;
}

.btn-primary:hover {
  background-color: var(--primary-light);
  box-shadow: 0px 1px 10px rgba(178, 178, 178, 1);
}

.btn-secondary {
  padding: 13px 44px;
  border-radius: 100px;
  border: 2px solid var(--primary);
  background-color: transparent;
  color: var(--dark-3xl);
  transition: 1s;
}

.pets__slider-item {
  display: block;
  text-align: center;
  max-width: 270px;
  min-height: 435px;
  background-color: var(--light-s);
  border-radius: 9px;
  transition: 1s;
}

.pets__item-title {
  margin: 28px auto;
}

.pets__item-btn {
  display: block;
  margin: 0 auto;
}

.pets__slider-item:hover {
  background-color: var(--light-xl);
  box-shadow: 0px 2px 14px rgba(13, 13, 13, 0.04);
}

.pets__slider-item:hover .pets__item-btn {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
  box-shadow: 0px 2px 14px rgba(13, 13, 13, 0.04);
}
